<h2>Your cart</h2>
<hr />
<table class="table">
  <thead>
  <tr>
    <th scope="col">Product</th>
    <th scope="col">Quantity</th>
  </tr>
  </thead>
  <tbody id="orders">
  </tbody>
</table>

<h4>For complete your order, please fill out the fields below:</h4>
<form action="/order" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your phone:</label>
    <input type="phone" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your name:</label>
    <input type="name" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your address:</label>
    <input type="address" class="form-control" id="exampleFormControlInput1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">

    $(function() {
        update_orders_input();
        update_orders_button();
        orders_list();
    });

</script>